body, a {
    /*-webkit-font-smoothing:antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}
.container-fluid {
    max-width: 1200px;
}
.transition {
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}
/*--------------------------------------*/
/* MEDIA QUERIES
/*--------------------------------------*/
@media (min-width: 576px) { /* SM MD LG XL and up */

}
@media (min-width: 768px) { /* MD LG XL and up */

}
@media (min-width: 992px) { /* LG XL and up */

}
@media (min-width: 1200px) { /* XL and up */

}
@media (min-width: 992px) and (max-width: 1199.98px) { /* LG only */

}
@media (min-width: 768px) and (max-width: 991.98px) { /* MD only */

}
@media (min-width: 576px) and (max-width: 767.98px) { /* SM only */

}
@media (max-width: 1199.98px) { /* LG MD SM XS and down */

}
@media (max-width: 991.98px) { /* MD SM XS and down */

}
@media (max-width: 767.98px) { /* SM XS and down */

}
@media (max-width: 575.98px) { /* XS and down */

}
